h1{
    text-align: center;
    color: var(--font-color-light);
    margin-bottom: 20px;
    font-size: 2.5em;
}

p{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 30px;
}

form{
    max-width: 600px;
    margin: 0 auto;
    background: var(--font-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #34495e;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

input[type="checkbox"], input[type="radio"] {
    margin: 1rem 1rem 1rem 0;
    transform: scale(1.2);
}

input[type="checkbox"], input[type="radio"]:hover {
    scale: 110%;
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

label:hover {
    font-weight: bold;
    color: #3498db;
}

button {
    border: none;
    border-radius: 8px;
    color: var(--font-color);
    background: var(--primary-color);
    height: 3rem;
    width: 15rem;
    font-weight: bold;
    font-size: 1.1em;
    margin: 30px auto;
    cursor: pointer;
}

button:hover {
    border: 3px solid var(--primary-color);
    background: var(--secondary-color);
}
.btns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}