nav
{
    background: var(--primary-color);
    padding: 15px 0;
    padding: 0.5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a, nav a:hover, nav a:visited, nav a:active
{
    color: var(--font-color);
    padding: 12px 10px;
    text-transform:uppercase;
    font-weight:600;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

nav a:hover:last-child
{
    margin-right: 0;
}

nav a
{
    width:100%;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover
{
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
}

nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
}

nav li
{
    margin: 0 1.5rem;
}

nav li:last-child
{
    margin-right: 0;
}

.logo
{
    width: fit-content;
    cursor: pointer;
    /* border: 1px solid black; */
}