:root{
    --primary-color: #0F4C75;
    --secondary-color: #3282B8;
    --font-color: #BBE1FA;
    --dark-font-color: #1B262C;
    --btn-primary-bg: #00ADB5;
    --btn-secondary-bg: #3282B8;
}

body{
    margin: 0;
    font-family: "Nunito", "Rubik", sans-serif;
    background: var(--secondary-color);
    overflow: scroll;
}

h1, h2, h3, h4, h5, h6, p{
    color: var(--font-color);
}

h1{
    font-size: 3rem;
    text-align: center; 
    margin-bottom: 2rem;
}