h1{
    text-align: left;
    margin-bottom: 0;
}

p{
    margin: 0;
}

.back-btn{
    font-size: 1rem;
    text-decoration: none;
    color: var(--font-color);
    margin-bottom: 10px;
    display: inline-block;
    background: var(--primary-color);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.heading{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.timer-container{
    margin-top: 2rem;
    background-color: var(--primary-color);
    height: auto;
    border-radius: 1rem;
    padding: 2rem;
}

.timer-container h2{
    text-align: left;
    margin: 0;
}

.timer-circle{
    background-color: var(--secondary-color);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
    transition: all 0.3s ease;
}

.timer-circle h1{
    font-size: 4rem;
    margin: 0;
}

button
{
    background-color: var(--btn-primary-bg);
    color:var(--font-color);
    font-weight:bold;
    border:none;
    padding:12px 30px;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 49%;
    font-size: 1rem;
    margin-top: 1.5rem
}

.btns{
    display: flex;
    justify-content: space-between;
}

.time-options-container{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    padding: 0 10rem;
}

.time-options-container > button{
    background: var(--primary-color);
    border: 1px solid var(--font-color);
}

.time-options-container > button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.selected{
    background: var(--secondary-color)!important;
}