/* .heading{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
    color: var(--dark-font-color);
} */

.main-profile-container {
    height: 100%;
}

.profile-container{
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.profile-buttons{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

button
{
    background-color: var(--secondary-color);
    color:var(--font-color);
    font-weight:bold;
    border:none;
    padding:12px 30px;
    border-radius: 0.4rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover
{
    background-color: #357abd;
}

#profile-email{
    color: var(--font-color);
}

#profile-name{
    color: var(--font-color);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.btn-logout{
    background-color: #e24a4a;
}
.btn-logout:hover{
    background-color: #b33a3a;
}

.activity-history{
    margin-top: 2rem;
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    color: var(--font-color);
}

.achievements{
    margin-top: 2rem;
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    color: var(--font-color);
}

.subheading{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font-color);
    margin-bottom: 1rem;
}

.streak{
    margin-left: 5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ff5722;
    text-align: center;
    border: 1px solid #ff5722;
    border-radius: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
}